@tailwind base;
@tailwind components;
@tailwind utilities;

.my-theme-overrides {
  font-family: sans-serif;
  color: white;
}

.my-theme-overrides .str-video__speaker-layout__wrapper {
  color: white;
}
